<header id="overview">
	<div class="row masthead hidden-sm hidden-xs">
		<div class="col-md-12 lead" style="flex: 1; flex-direction: row; align-items: center; display: flex;">
			<div class="col-md-2 croquis">
				<img src="/images/avatar.jpg" alt="" class="fullwidth" />
			</div>
			<div class="col-md-4 nameandlogo">
				<h1 style="margin:0">Steven Black</h1>
			</div>
			<div class="col-md-6 stinger">
				<p class="lead muted" style="margin:0"><em>Computer systems conceived,<br>developed, and carried forth.</em></p>
			</div>
			<hr />
		</div>
	</div>
	<div class="row masthead hidden-lg hidden-md">
		<div class="col-md-12 lead">
			<div class="col-md-12 nameandlogo">
				<h1>Steven Black</h1>
			</div>
			<hr />
		</div>
	</div>
</header>
